$tomato: rgba(224, 112, 100, 1);
$red: rgba(209, 22, 22, 1);
$white: rgba(255, 255, 255, 1);
$grey: rgba(104, 108, 112, 1);
$dark-blue: rgba(39, 45, 52, 1);
$blue: rgba(20, 62, 144, 1);
$light-tomato: rgba(255, 59, 48, 1);
$yellow: rgb(255, 204, 0);

$audio: rgb(13, 16, 23);



$rufina: Rufina;
$lexend: Lexend;
$inter: Inter;
$raleway: Raleway;
$sans3: Source+Sans+3;
$lato: Lato;
$sans: DM Sans;