.section-control{
    padding: 55px 0 19px 0;

    @include tab(744px){
        padding: 0;
        position: absolute;
        bottom: 76px;
        width: 100%;
    }

    @include desc(1440px){
        bottom: 159px;
    }
    
    &-music{
        @include tab(744px){
            bottom: 93px;
        }
    }
}

.control-input{
    width: 100%;
    position: relative;

    &::before{
        position: absolute;
        content: "17:05";
        font-family: $raleway;
        font-weight: 400;
        font-size: 12px;
        @include lh(12, 14);
        color: $grey;
        bottom: 22px;
        left: 0;

        @include tab(744px){
            display: none;
        }
    }

    &::after{
        position: absolute;
        content: "-11:41";
        font-family: $raleway;
        font-weight: 400;
        font-size: 12px;
        @include lh(12, 14);
        color: $grey;
        bottom: 22px;
        right: 0;

        @include tab(744px){
            display: none;
        }
    }

    &[type="range"]{
        accent-color: $red;
        border: none;
        outline: none;
        border-color: inherit;
        color: $red;
        outline-color: inherit;
    

    @include tab(744px){
        flex: 1;
        display: flex;
    }
}

.control-list{
    @include positioning(flex, _, center, center, 33px, _);

    @include tab(744px){
        display: none;
    }
}

.control-svg{
    fill: currentColor;

    &-tab{
        display: none;
        @include tab(744px){
            display: block;
            fill: $red;
            margin-right: 44px;
        }
    }
}


.control-input-container{
    margin-bottom: 9px;
    @include tab(744px){
        margin: 0;
        @include positioning(flex, _, space-between, center, 14px, _);
    }

    @include desc(1440px){
        max-width: 846px;
        margin: 0 auto;
    }

    &-music{
        flex: 0.7;
        @include positioning(flex, _, _, center, 0, _);

        @include desc(1440px){
            margin: 0;
            flex: 0.4;
        }
    }
}

.control-info-container{
    display: none;
    @include tab(744px){
        display: block;
        margin-right: 45px;
    }
}

.contol-title{
    font-family: $sans;
    font-weight: 400;
    font-size: 16px;
    @include lh(16, 21);
    color: $white;
    margin-bottom: 5px;
}

.control-desc{
    font-family: $sans;
    font-weight: 400;
    font-size: 12px;
    @include lh(12, 16);
    color: $white;
}