.svg-control{
    fill: currentColor;
}

// .control-desc{
//     font-family: $raleway;
//     font-weight: 400;
//     font-size: 12px;
//     @include lh(12, 14);
//     color: $grey;
// }

// .control-wrap{
//     @include positioning(flex, _, space-between, _, _, _);
// }

// .control-input[type=range]{
//     width: 100%;
//     background: rgba(247, 246, 241, 1);
//     color: $red;
//     height: 4px;
//     background-color: $red;
// }

// .control-input::-ms-track{
//     background: transparent;
//     border-color: transparent;

// }

.btn-control{
    color: $blue;

    &-stop{
        padding: 22px 21px;
        border: 2px solid $blue;
        border-radius: 50%;
    }
}