.footer{
    @include positioning(flex, _, center, center, _, _);

    &-main{
        background-color: #07080D;
    }

    &-mob-menu{
        @include positioning(flex, _, center, center, _, _);
        @include tab(744px){
            display: none;
        }
    }

    // &-contact{
    //     padding: 14px 0;
    //     @include tab(744px){
    //         padding: 28px 0;
    //     }
    // }

    // &-video{
    //     padding: 29px 0;
    // }

    // @include desc(1440px){
    //     // padding: 29px 0;
    // }

    // &-about{
    //     position: static;
    //     box-shadow: -2px 0px 10px 0px rgba(104, 108, 112, 0.2);
        
    //     @include tab(744px){
    //         // padding: 0;
    //         // position: relative;
    //         // box-shadow: none;
    //         position: static;
    //     }

    //     @include desc(1440px){
    //         // padding: 0;
    //     }
    // }

}

.footer-link{
    color: $white;
    @include positioning(flex, _, _, center, 17px, _);
}

.footer-desc{
    color: $white;
    font-family: $inter;
    font-weight: 400;
    font-size: 7px;
    @include lh(7, 12);
}

.footer-svg{
    fill: currentColor;
}

.footer-menu{
    display: none;
    @include tab(744px){
        width: 100%;
        @include positioning(flex, _, space-between, center, _, _);
    }


    // &-about{
    //     @include tab(744px){

    //     }

    //     @include desc(1440px){
    //         bottom: 28px;
    //         max-width: 1280px;
    //     }
    // }
}
