.footer{
    @include positioning(flex, _, center, center, _, _);

    &-mob-menu{
        @include positioning(flex, _, center, center, _, _);
        @include tab(744px){
            display: none;
        }
    }

    &-video{
        display: none;

        @include tab(744px){
            @include positioning(flex, _, center, center, _, _);
        }
    }
}

.footer-link{
    color: $white;
    @include positioning(flex, _, _, center, 17px, _);
}

.footer-desc{
    color: $white;
    font-family: $inter;
    font-weight: 400;
    font-size: 7px;
    @include lh(7, 12);
}

.footer-svg{
    fill: currentColor;
}

.footer-menu{
    display: none;

    @include tab(744px){
        width: 100%;
        @include positioning(flex, _, space-between, center, _, _);
    }

    &-desc, &-desc-listen{
        color: $white;
        font-family: $inter;
        font-weight: 400;
        font-size: 7px;
        @include lh(7, 12);
    }
}


///

.footer-anim-container{
    padding: 10px;
}

.footer-svg-anim{
    fill: currentColor;
}
  
.social-hidden-list-hidden{
  opacity: 1;
  transition: all 0.3s linear 0.1s;
}

.footer-menu-desc-hidden{
  transition: all 0.3s;
  transform: translate(-28px, -20px);
}

.footer-svg-anim-hidden{
  opacity: 0;
  transition: all 0.3s;
}
.footer-menu-desc-listen-hidden{
  transition: all 0.3s;
  transform: translate(40px, -20px);
}


.footer-svg-aaa{
    fill: red($color: #000000);
}