.header{
    width: 100%;
    position: absolute;
    top: 0;
    padding: 27px 0;

    @include tab(744px){
        padding: 31px 0;
    }
    
    @include desc(1440px){
        padding: 36px 0;
    }

    &-contact{
        padding: 22px 0;
        box-shadow: 0px 2px 10px 0px rgba(104, 108, 112, 0.2);
        position: static;
        @include tab(744px){
            width: 100%;
            position: absolute;
            top: 0;
            padding: 31px 0;
            box-shadow: none;
        }
    }

    &-about, &-video, &-music{
        padding: 22px 0;
        box-shadow: 0px 2px 10px 0px rgba(104, 108, 112, 0.2);
        @include tab(744px){
            padding: 25px 0;
            box-shadow: none;
        }
    }
}

.header-wrap{
    @include positioning(flex, _, flex-end, center, _, _);
}

.header-title{
    margin-left: auto;
    font-family: $raleway;
    font-weight: 400;
    font-size: 18px;
    @include lh(18, 21);
    color: $dark-blue;
    @include tab(744px){
        display: none;
    }
}