.svg-about{
    fill: currentColor;
}

.control-input{
    width: 100%;
    position: relative;

    &:before{
        position: absolute;
        content: "17:05";
        font-family: $raleway;
        font-weight: 400;
        font-size: 12px;
        color: $grey;
        bottom: 20px;
    }

    &::after{
        position: absolute;
        content: "-11:14";
        font-family: $raleway;
        font-weight: 400;
        font-size: 12px;
        color: $grey;
        bottom: 20px;
        right: 0;
    }
}

.control-container{
    margin-top: 9px;
    @include positioning(flex, _, center, _, 33px, _);
}