.pictures-container{
    display: none;

    @include tab(744px){
        @include positioning(flex, _, _ ,_ , 10px 14px, wrap);
        margin: 30px 0 30px 0;
        max-width: 480px;
    }

    @include desc(1440px){
        max-width: 634px;
        margin-top: 20px;
        gap: 20px 17px;
    }
}

.about-img{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
}

.about-link{
    @include positioning(flex, _, center, center, 8px, _);
    color: $white;
}

.hero-about-svg{
    fill: currentColor;
}