.hero-btn{
    display: block;
    padding: 0;
    background-color: inherit;
    color: $red;
    margin: 0 auto 8px auto;


    &-about{
        background-color: $tomato;
        color: $white;
        border-radius: 15px;
        padding: 12px 30px;
        @include positioning(flex, _, center, center, 7px, _);
        color: $white;
        font-family: $raleway;
        font-weight: 700;
        font-size: 14px;
        @include lh(14, 16);
        margin: 26px auto;

        @include tab(744px){
            display: none;
        }
    }

    @include tab(744px){
        margin: 0 auto 28px auto;
    }
}

.btn-music{
    background-color: inherit;
    color: $blue;

    &-like{
        color: $red;
        @include positioning(flex, column, center, center, 12px, _);
    }

    &-import{
        color: $grey;
        @include positioning(flex, column, center, center, 12px, _);
    }

    &-stop{
        padding: 22px 21px;
        border: 2px solid $blue;
        border-radius: 50%;
    }

    &-tab{
        display: none;
        @include tab(744px){
            display: block;
            color: $white;
            background-color: inherit;
            padding: 0;
        }
    }
}

.social-btn{
    background-color: inherit;
    color: $white;
    padding: 0;
}

.header-btn{
    padding: 0;
    background-color: inherit;
    @include positioning(flex, _, center, center, _, _);
    @include tab(744px){
        display: none;
    }
}

.form-btn{
    padding: 10px 0;
    width: 100%;
    border-radius: 50px;
    color: $white;
    background-color: $light-tomato;
    font-family: $sans;
    font-size: 18px;
    font-weight: 700;
    @include lh(18, 23);
    text-align: center;

    @include desc(1440px){
        padding: 13px 0;
    }
}

.hero-music-btn{
    @include positioning(flex, _ , center, center, _, _);
    padding: 5px;
    background-color: $red;
    border-radius: 50px;
}

.control-btn{
    background-color: inherit;
    color: $blue;
    @include positioning(flex, _, center, center, _ ,_);

    &-stop{
        border: 1px solid $blue;
        padding: 22px 21px;
        border-radius: 50%;
    }

    @include tab(744px){
        display: none;
    }

    &-tab{
        display: none;

        @include tab(744px){
            color: $white;
            background-color: $red;
            @include positioning(flex, _, center, center, _, _);
            padding: 5px;
            border-radius: 50%;
            margin-left: 22px;
        }
    }
}

.footer-btn{
    padding: 0;
    background-color: inherit;
    color: $grey;
    @include positioning(flex, column, center, center, 7px, _);

    &-home{
        color: $red;
    }
}

.footer-menu-btn{
    background-color: inherit;
    padding: 0;
    color: $white;
    @include positioning(flex, _, _, center, 17px, _);
}

.control-input-btn{
    display: none;

    @include tab(744px){
        @include positioning(flex, _, center, center, _, _);
        background-color: inherit;
        color: $white;
        padding: 0;
    }
}

.btn-video-play{
    @include positioning(flex, _, center, center, _, _);
    border: 2px solid $blue;
    padding: 15px;
    border-radius: 50px;
    margin: 0 auto 0 auto;
    background-color: inherit;
    color: $blue;

    @include tab(744px){
        display: none;
    }
}

.btn-audio{
    background-color: inherit;
    @include positioning(flex, _, center, center, _, _);
    color: $blue;

    @include tab(744px){
        color: $white;
    }
}