.burger-btn{
    display: block;
    padding: 0;
    background-color: inherit;
    color: tomato;
    margin-left: auto;
    @include positioning(flex, _, center, center, _, _);

    &-about{
        color: $dark-blue;
        margin-left: 92px;
    }

    @include desc(744px){
        display: none;
    }
}

.burger-svg{
    fill: currentColor;
}

.mob-menu{
    height: 100vh;
    padding: 48px 40px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: $white;
    transform: translateX(0);
    transition: transform 250ms;
    
    &-container{
        height: 100%;
        @include positioning(flex, column, space-between, _, _, _);
    }
}

.mob-menu.is-hidden{
    transform: translateX(100%);
}

.menu-btn{
    color: $dark-blue;
    background-color: inherit;
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.menu-close-btn{
    position: absolute;
    background-color: inherit;
    top: 10px;
    right: 10px;
    padding: 11px;

    &:hover{
        color: $red;
    }
}

.menu-svg{
    fill: currentColor;

    &:focus-within{
        color: $red;
    }
}

    //birger nav list

.nav-menu-list{
    @include positioning(flex, column, _, _, 12px, _);
    font-family: $inter;

    &-link{
        font-size: 16px;
        @include lh(16, 19);
        font-weight: 600;   
        color: $dark-blue;
    }
}