.burger-btn{
    display: block;
    padding: 0;
    background-color: inherit;
    color: tomato;
    margin-left: auto;
    @include positioning(flex, _, center, center, _, _);

    &-about{
        color: $dark-blue;
        // z-index: 2;
    }

    @include desc(744px){
        display: none;
    }
}

.burger-svg{
    fill: currentColor;
}


.menu-btn{
    color: $dark-blue;
    background-color: inherit;
}

.menu-close-btn{
    position: absolute;
    background-color: inherit;
    top: 0;
    right: 0;
    padding: 11px;

    &:hover{
        color: $red;
    }
}

.menu-svg{
    fill: currentColor;

    &:focus-within{
        color: $red;
    }
}

    //birger nav list

.nav-menu-list{
    @include positioning(flex, column, center, _, 12px, _);
    font-family: $inter;




    &-link{
        font-size: 16px;
        @include lh(16, 19);
        font-weight: 600;   
        color: $dark-blue;
    }
}


.nav-menu-list-item-burger{
    transition: transform 0.8s cubic-bezier(.77, 0, .175, 1) 150ms;
    transform: translateY(20px);
    opacity: 0;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        width: 12px;
        height: 1px;
        border: 1px solid $red;
    }

    &.animation{
        opacity: 100%;
        transform: translateY(-20px);
        transition: all  0.8s cubic-bezier(.77, 0, .175, 1) 500ms;
    }
}

.mob-menu::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $white;
    transform: translateY(-100%);
    transition: transform 0.8s cubic-bezier(.77, 0, .175, 1) 150ms;
    z-index: -1;
}

.mob-menu::after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(177, 177, 177, 0.3);
    transform: translateY(-100%);
    transition: transform 0.8s cubic-bezier(.77, 0, .175, 1) 0s;
    z-index: -2;
}

.mob-menu {
    height: 100vh;
    padding: 48px 40px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    transition: transform 0.4s ease;
    transform: translateY(-100%);

    &-container{
        transition-duration: 2s;
        @include positioning(flex, _, center, center, _, _);
        height: 100%;
    }
}

 .mob-menu.is-hidden {
    transform: translateY(0);
 }

.mob-menu.is-hidden::before {
    transform: translateY(0);
}

.mob-menu.is-hidden::after {
    transform: translateY(0);
}