.address-svg{
    fill: currentColor;
    color: $white;
    @include positioning(flex, row, _, _, 8px, _);
}

.address-list{
    @include positioning(flex, column, _, _, 16px, _);
    margin-bottom: 16px;

    &-item{
        color: $white;
        font-family: $inter;
        font-weight: 400;
        font-size: 16px;
        @include lh(16, 19);
        @include positioning(flex, _, _, center, 8px, _);
    }
}

.social-svg{
    fill: currentColor;
}

.social-list{
    @include positioning(flex, _, _, center, 9px, _);
}

/* hover list in footer btns */


.social-hidden-list{
    position: absolute;
    top: 12px;
    @include positioning(flex, _, _, _, 10px, _);
    opacity: 0;
    margin-top: 15px;

    // &:hover{

    // }


    &-link{
        color: $white;
    }
}