    /* 
        style for control input and svg in music.html
    */
.section-music{
    @include tab(744px){
        position: absolute;
        top: 0;
    }
}

.svg-music{
    fill: currentColor;
}

.music-container{
    margin-top: 9px;
    @include positioning(flex, _, center, center, 32px, _);
    @include tab(744px){
        display: none;
    }
}

.music-wrapper{
    @include tab(744px){
        @include positioning(flex, _, center, center, 14px, _);
    }
}

.music-input{
    width: 100%;
    position: relative;

    &:before{
        position: absolute;
        content: "17:05";
        font-family: $raleway;
        font-weight: 400;
        font-size: 12px;
        color: $grey;
        bottom: 20px;
    }

    &::after{
        position: absolute;
        content: "-11:14";
        font-family: $raleway;
        font-weight: 400;
        font-size: 12px;
        color: $grey;
        bottom: 20px;
        right: 0;
    }

    @include tab(744px){
        max-width: 233px;
        margin: 0 21px 0 44px;
        &:before{
            display: none;
        }
    
        &::after{
            display: none;
        }
    }
}

    /* 
        style for control svg + svg on video.html
    */

    .section-control{
        padding: 55px 0 19px 0;
        position: relative;
    
        @include tab(744px){
            padding: 0;
            position: absolute;
            bottom: 76px;
            width: 100%;
        }
    
        @include desc(1440px){
            bottom: 159px;
            z-index: 2;
        }
        
        &-music{
            @include tab(744px){
                bottom: 70px;
                z-index: 2;
            }
        }
    }
    
    .control-input{
    
        &[type="range"]{
            accent-color: $red;
            border: none;
            outline: none;
            border-color: inherit;
            color: $red;
            outline-color: inherit;
        }
        
    
        @include tab(744px){
            flex: 0.8;
            display: flex;
        }

        @include desc(1440px){
            flex: 2;
            max-width: 762px
        }
    }

.control-input-video{
    display: none;
    
    @include tab(744px){
        display: block;
    }
}

.control-input-music{
    width: 100%;
    position: relative;

    &::before{
        position: absolute;
        content: "17:05";
        font-family: $raleway;
        font-weight: 400;
        font-size: 12px;
        @include lh(12, 14);
        color: $grey;
        bottom: 22px;
        left: 0;

        @include tab(744px){
            display: none;
        }
    }

    &::after{
        position: absolute;
        content: "-11:41";
        font-family: $raleway;
        font-weight: 400;
        font-size: 12px;
        @include lh(12, 14);
        color: $grey;
        bottom: 22px;
        right: 0;

        @include tab(744px){
            display: none;
        }
    }
}
    
    .control-list{
        @include positioning(flex, _, center, center, 33px, _);
    
        @include tab(744px){
            display: none;
        }
    }
    
    .control-svg{
        fill: currentColor;
    
        &-tab{
            display: none;
            @include tab(744px){
                display: block;
                fill: $red;
                margin-right: 44px;
            }
        }
    }
    
    
    .control-input-container{
        margin-bottom: 9px;
        @include tab(744px){
            margin: 0;
            @include positioning(flex, _, center, center, 14px, _);
        }
    
        &-music{
            flex: 0.7;
            @include positioning(flex, _, center, center, 0, _);
    
            @include desc(1440px){
                margin: 0;
                flex: 0.4;
            }
        }
    }
    
    .control-info-container{
        display: none;
        @include tab(744px){
            display: block;
            margin-right: 45px;
        }
    }
    
    .contol-title{
        font-family: $sans;
        font-weight: 400;
        font-size: 16px;
        @include lh(16, 21);
        color: $white;
        margin-bottom: 5px;
    }
    
    .control-desc{
        font-family: $sans;
        font-weight: 400;
        font-size: 12px;
        @include lh(12, 16);
        color: $white;
    }

    .control-list{
        @include positioning(flex, _, center, center, _, _);
    }