.hero-container{
    display: none;
    @include tab(744px){
        display: block;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
        background-color: rgba(44, 44, 44, 0.7);
        border-radius: 20px;
        padding: 81px 28px 30px 28px;
        max-width: 346px
    }
}

.hero-list{
    @include positioning(flex, _, _, _, _, wrap);
    margin-bottom: 15px;

    &-item{
        @include positioning(flex, column, _, _, _, _);
    }
}

.hero-form{
    @include positioning(flex, column, space-between, center, _, _);
}

.form-input{
    max-width: 125px;
}

.form-label{
    display: block;
    font-family: $inter;
    font-size: 16px;
    font-weight: 700;
    @include lh(16, 19);
    color: $white;
    margin-bottom: 9px;

    &-teaxtarea{
        margin-bottom: 19px;
    }
}

.hero-textarea{
    min-width: 289px;
    max-width: 289px;
    min-height: 91px;
    border-radius: 20px;
    background-color: inherit;
    border: 1px solid rgba(244, 91, 49, 0.35);
    padding: 10px 13px;
    resize: none;

    font-family: $inter;
    font-weight: 400;
    font-size: 16px;
    @include lh(16, 19);

    &::placeholder{
        color: $white;
    }
}

.hero-label{
    font-family: $inter;
    font-size: 16px;
    font-weight: 700;
    @include lh(16, 19);
    color: $white;
    margin-bottom: 9px;

    &:focus{
        border: none;
        outline: none;
    }
}

.form-wrapper{
    @include positioning(flex, column, _, _, 19px, _);
    margin-bottom: 33px;
}

.hero-input{
    max-width: 135px;
    background-color: inherit;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(244, 91, 49, 0.35);
    padding: 0;

    &-mail{
        max-width: 197px;
    }

    &::placeholder{
        color: $white;
    }
}

.footer-list{
    @include positioning(flex, _, space-between, _, 28px 0, wrap);
    margin-bottom: 15px;

    &-item{
        @include positioning(flex, column, _, _, _, _);
    }
}

.hero-input::placeholder{
    font-family: $inter;
    font-weight: 400;
    font-size: 16px;
    @include lh(16, 19);
}