.form{
    display: none;
    @include tab(744px){
        display: block;
        max-width: 346px;
        max-height: 459px;
        padding: 81px 29px 30px 29px;
        background: rgba(44, 44, 44, 0.7);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
        border-radius: 22px;
        @include positioning(flex, _, space-between, _, _, wrap);
    }

    @include desc(1440px){
        max-width: 411px;
        max-height: 632px;
        padding: 135px 33px 40px 33px;
    }
}

.form-label{
    @include positioning(flex, column, _, _, 9px, _);
    flex-grow: 1;
    max-width: 100px;

    &-mail{
        margin: 28px 0 15px 0;
        max-width: 200px;
        flex-grow: 2;

        @include desc(1440px){
            margin: 42px 0 43px 0;
        }
    }

    &-area{
        max-width: 200px;
        flex-grow: 2;
    }
}

.form-desc{
    font-family: $inter;
    font-weight: 700;
    font-size: 16px;
    @include lh(16, 19);
    color: $white;

    &-area{
        margin-bottom: 19px;
    }
}

.form-input{
    background-color: inherit;
    box-shadow: none;
    border: none;

    &::placeholder{
        font-family: $inter;
        font-weight: 400;
        font-size: 16px;
        @include lh(16, 19);
        color: $white;
    }
}

.form-textarea{
    background-color: inherit;
    border: 1px solid rgba(244, 91, 49, 0.35);
    border-radius: 20px;
    min-width: 289px;
    max-width: 289px;
    min-height: 91px;
    max-height: 91px;
    resize: none;
    padding: 10px 13px;
    margin-bottom: 32px;

    &::placeholder{
        font-family: $inter;
        font-weight: 400;
        font-size: 16px;
        @include lh(16, 19);
        color: $white;
    }

    @include desc(1440px){
        max-width: 343px;
        max-height: 135px;
        min-width: 343px;
        min-height: 135px;
        padding: 15px;
    }
}