.section-music{
    @include tab(744px){
        position: absolute;
        top: 0;
    }
}

.svg-music{
    fill: currentColor;
}

.music-container{
    margin-top: 9px;
    @include positioning(flex, _, center, center, 32px, _);
    @include tab(744px){
        display: none;
    }
}

.music-wrapper{
    @include tab(744px){
        @include positioning(flex, _, center, center, 14px, _);
    }
}

.music-input{
    width: 100%;
    position: relative;

    &:before{
        position: absolute;
        content: "17:05";
        font-family: $raleway;
        font-weight: 400;
        font-size: 12px;
        color: $grey;
        bottom: 20px;
    }

    &::after{
        position: absolute;
        content: "-11:14";
        font-family: $raleway;
        font-weight: 400;
        font-size: 12px;
        color: $grey;
        bottom: 20px;
        right: 0;
    }

    @include tab(744px){
        max-width: 233px;
        margin: 0 21px 0 44px;
        &:before{
            display: none;
        }
    
        &::after{
            display: none;
        }
    }
}

.section-hero-music{
    background-image: none;
}

.hero-title-music{
    font-family: $raleway;
    font-size: 32px;
    font-weight: 700;
    @include lh(32, 38);
    color: $blue;
    margin: 30px auto 0 auto;

    @include tab(744px){
        color: $red;
        font-family: $rufina;
        font-size: 24px;
        font-weight: 700;
        @include lh(24, 30);
        margin: 0;
    }
}

.hero-desc-music{
    font-family: $raleway;
    font-size: 18px;
    font-weight: 400;
    @include lh(18, 21);
    color: $red;
    margin: 0 auto 30px auto;

    @include tab(744px){
        display: none;
    }
}

.hero-music-svg{
    fill: $red;

    &-like{
        fill: $white;
    }
}

.hero-music-box{
    display: none;
    @include tab(744px){
        display: block;
        margin-left: 44px;
    }
}

.hero-music-title{
    font-family: $sans;
    font-size: 16px;
    font-weight: 400;
    @include lh(16, 21);
    color: $white;
    margin-bottom: 5px;
}

.hero-music-desc{
    font-family: $sans;
    font-size: 12px;
    font-weight: 400;
    @include lh(12, 16);
    color: $white
}

.hero-music-container{
    @include positioning(flex, _, _, center, _, _);
}

