.nav-menu-list{
    @include positioning(flex, column, _, _, 12px, _);
    font-family: $inter;

    &-link{
        font-size: 16px;
        @include lh(16, 19);
        font-weight: 600;   
        color: $dark-blue;
    }
}