.container{
    width: 341px;
    padding: 0 20px 0 20px;
    margin: 0 auto;

    @include tab(744px){
        width: 712px;
        padding: 0 16px;
    }

    @include desc(1440px){
        width: 1280px;
        padding: 0 80px;
    }

    &-hero-wrapp{
        @include positioning(flex, _, center, center, 85px, _);
        padding: 0 98px;
    }

    &-header-wrapper{
        @include positioning(flex, row, flex-end, center, _, _);
    }

    &-music-wrapper{
        height: 100%;
        @include positioning(flex, column, space-between, _, _, _);
    }

    &-control{
        @include tab(744px){
            // position: absolute;
            // right: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            bottom: 70px;
        }
    }

    &-contact{
        @include tab(744px){
            @include positioning(flex, _, _, center, 85px, _);
        }

        @include desc(1440px){
            @include positioning(flex, _, _, flex-start, 226px, _);
        }
    
    }

    &-footer{
        @include positioning(flex, _, center, _, _, _);
        padding: 20px;
        width: 100%;

        &-about{
            box-shadow: -2px 0px 10px 0px rgba(104, 108, 112, 0.2);
        }

        @include tab(744px){
            position: absolute;
            box-shadow: none;
            bottom: 0;
        }
    }
}