.container{
    padding: 0 20px 0 20px;
    margin: 0 auto;

    @include tab(768px){
        width: 744px;
        padding: 0 18px 0 18px;
    }

    @include desc(1200px){
        width: 1440px;
        padding: 0 82px 0 82px;
    }
}